In [1]:
print("I")
print("know")
print("Python")

I
know
Python

In [ ]:
print("I")
print()
print("know")
print()
print("python")

In [ ]:
print("Amy said:\"I want to go to 'Unil'\"")

In [ ]:
# strings
print('I am Huajuan.')
print("I am Huajuan.")

In [ ]:
# Numerical Types
print(27)
print(27.1)

In [ ]:
print(type("Huajuan"))
print(type(-27.1))

In [ ]:
print(type('"int"'))

In [ ]:
print(type('int'))

In [ ]:
day_of_week = "Saturday"

In [ ]:
print(day_of_week)

In [ ]:
print(type(day_of_week))

In [ ]:
day_of_week = "Sunday"
print(day_of_week)

In [ ]:
date = day_of_week
print(date)

In [ ]:
# Python allows you to assign values of different types to the same variable.BUT they couldn't be written in the same cell.
month = 12
print(type(month))

In [ ]:
month = "Dec"
print(type(month))

In [ ]:
user_name = input()
print("Hello, " + user_name)

In [ ]:
user_name = input('please enter your name:')
print("hello, " + user_name)

In [ ]:
print('please enter your name:')
user_name = input()
print('hello,' + user_name)

In [ ]:
print('what is your favorite number?')
value = int(input())

In [ ]:
print(type(value))

In [ ]:
month = input()
day = int(input())
print('Labour\'s Day is celebrated on', month, day )

In [ ]:
month = input()
day = input()
print('Labour\'s Day is celebrated on ' + month + " " + day )

In [ ]:
month = input()
day = input()
print('Labour\'s Day is celebrated on ' + month, day )

In [ ]:
print('Hello! My name is Aid.')
print('I was created in 2020.')
print('Please, remind me your name.')

# reading a name
user_name = input()
print('What a great name you have, '+ user_name + "!")

In [ ]:
# list
dog_breeds = ['corgi', 'labrador', 'poodle', 'jack russell']
print(dog_breeds)

In [ ]:
number = [1.2, 2.4, 3.6]
print(number)

In [ ]:
list_out_of_str = list('danger!')
print(list_out_of_str)

In [ ]:
list_out_of_int = list(1234)
print(list_out_of_int)

In [ ]:
empty_list_1 = list()
empty_list_2 = []

In [ ]:
print(len(list_out_of_str))

In [ ]:
print(len(empty_list_1))

In [ ]:
print(len(dog_breeds))

In [ ]:
first_dog_breeds = dog_breeds[0]
print(first_dog_breeds)

In [ ]:
print(type(first_dog_breeds))

In [ ]:
month = ['Jan', 1, 'Feb', 2]
first_month = month[1]
print(type(first_month))

In [ ]:
animal = 'dogs'
first_elem = animal[0]
print(first_elem)

In [ ]:
print(type(first_elem))

In [ ]:
fifth_elem = dog_breeds[4]

In [ ]:
fourth_elem = animal[4]

In [ ]:
dog_breeds[3] = 'little dog'

In [ ]:
print(dog_breeds)

In [ ]:
price = input().split(',')

In [ ]:
price = input().split()

In [ ]:
print(type(price))

In [ ]:
print(price)

In [ ]:
print(price[2])

In [ ]:
grid = input()
print('---------')
print('|',grid[0],grid[1],grid[2],'|')
print('|',grid[3],grid[4],grid[5],'|')
print('|',grid[6],grid[7],grid[8],'|')
print('---------')

In [ ]:
name, surname = 'Huajuan', 'Yuan'

In [ ]:
print(name)

In [ ]:
print(surname)

In [ ]:
print(3
     +2
     -1)

In [ ]:
print(31 ** 331 % 20)

In [ ]:
like_you = "like" + "you"

In [ ]:
print(like_you)

In [2]:
money_per_month = float(input('How much money do you spend per month: '))
n_miles = money_per_month * 2
distance = 200
free_trip = distance * 2 / n_miles
print('you need', free_trip, 'months to get a free trip')

How much money do you spend per month: 12
you need 16.666666666666668 months to get a free trip

In [ ]:
score = 78
step = abs(int(input()))
score += step
print(score)

In [ ]:
a = int(input()) 
desk_a=a // 2 + a % 2
print(desk_a)

In [ ]:
is_open = True

In [ ]:
print(is_open)

In [ ]:
a = True and False
b = True or False
c = not b
print(a,b,c)

In [ ]:
print(True or False and not True)

In [ ]:
#  falsy
print("" or False)
print(0.0 or False)
print(None or False)
print([] or False)

In [ ]:
# Truthy
print('True' and True)

In [ ]:
truthy_integer = False or 5 and 100
print(truthy_integer)

In [ ]:
#  Short-circuit evaluation
print(100 and 5)
print(5 and 100)
print(0.0 and False)
print(False and 0.0)
print('' or False)
print(False or '')
print(True or '')
print('' or True)

In [ ]:
print(not 0.0)

In [ ]:
lazy_or = (1 / 0) or True

In [ ]:
lazy_or = True or (1 / 0)

In [ ]:
print(lazy_or)

In [ ]:
a = 5
b = -10
c = 15
print(a == b + c)

In [ ]:
print(a < c and c > b)

In [ ]:
print(a < c > b)

In [ ]:
print(a < (c and c) > b)

In [ ]:
print(6 > 3 == 3)
print(6 > 3 == 6)

In [ ]:
print(True and 3+2)
print(3+2 or False)

In [ ]:
a = 99
b = 3
print(99 % 3 ==0)

In [ ]:
a = int(input())
b = int(input())
print(a / b % 2 != 0)

In [ ]:
girl = 5
if girl >= 5:
    print('we need a boy!')

In [ ]:
girl = 3
if girl >= 5:
    print('we need a boy!')
    print('why?')
print('because we need sex equality')

In [ ]:
rainbow = 'red, orange, yellow, green, blue, indigo, violet'
warm_color = 'red, yellow, orange'
my_color = 'yellow'

if my_color in rainbow:
    print('Wow, your color is in the rainbow!')
    if my_color in warm_color:
        print("Oh, by the way, it's a warm color.")

In [ ]:
today = 0
print('I like Sunday' if today else 'I like Saturday')

In [ ]:
a = 1000
if a > 100:
    print('a is bigger than 100')
else:
    if a > 5:
        print('a is bigger than 5')
    else:
        print('a is less than 5')
    print('This will be printed only because 5 < a <100')

In [ ]:
a =  int(input())
b = int (input())
if a >= b:
    print(a)
    print(b)
else:
        print(b)
        print(a)

In [ ]:
a = int(input())
b = int(input())
c = int(input())
if a + b > c and a + c > b and b + c > a:
    print('The triangle is valid!')
else:
    print('The triangle is not valid!')

In [ ]:
dictionary = ["aa", "abab", "aac", "ba", "bac", "baba", "cac", "caac"]
word = input()
if word in dictionary:
    print('Correct')
else:
    print('Incorrect')

In [ ]:
year = int(input())
if year % 4 == 0 and year % 100 != 0 or year % 400 == 0:
    print('Leap')
else:
    print('Ordinary')

In [ ]:
A = int(input())
B = int(input())
H = int(input())
if A <= H <= B:
    print('Normal')
else:
    if H < A:
        print('Deficiency')
    print('Excess')

In [ ]:
age = int(input())
if age <=16:
    print('Lion King')
elif 17 <= age <= 25:
    print('Trainspotting')
elif 26 <= age <=40:
    print('Matrix')
elif 41 <= age <= 60:
    print('Pulp Fiction')
else:
    print("Breakfast at Tiffany's")

In [ ]:
colors = ['red','yellow','blue']
for color in colors:
    print(color)

In [ ]:
a = list('abc')

In [ ]:
print(a)

In [ ]:
for var in a:
    print(var)

In [ ]:
for alpha in 'elephant':
    print(alpha)

In [ ]:
a[1]=1

In [ ]:
print(a)

In [ ]:
b='elephant'
c=b[2]

In [ ]:
print(c)

In [ ]:
for i in range(5):
    print(i)

In [ ]:
for _ in range(10):
    print('yeah')

In [ ]:
times = int(input('how many times did you fly to Shanghai?'))
for shanghai in range(times):
    print('shanghai')

In [ ]:
names = ['Rose', 'Daniel']
surnames = ['Miller', 'Yuan']
for name in names:
    for surname in surnames:
         print(name, surname)

In [ ]:
for i in range(1,4):
    print(i)

In [ ]:
count = 0
string = "red yellow fox bite orange goose beeeeeeeeeeep"
vowels = 'aeiou'
for vowel in vowels:
    for i in range(46):
        if vowel == string[i]:
            count += 1
print(count)

In [ ]:
count = 0
string = "red yellow fox bite orange goose beeeeeeeeeeep"
vowels = 'aeiou'
for vowel in vowels:
    for alpha in string:
        if vowel == alpha:
            count += 1
print(count)

In [ ]:
#  list comprehension
new_list = [x for x in 'animals']

In [ ]:
print(new_list)

In [ ]:
new_list = []
for i in 'animals':
    new_list.append(i)

In [ ]:
print(new_list)

In [ ]:
new_list=list('animals')
print(new_list)

In [ ]:
new_list = ['i' + x for x in 'animals']
print(new_list)

In [ ]:
number = [1, 2, 3]
square = [x * x for x in number]
print(square)

In [ ]:
number = [1, 2, 3]
square_odd = [x * x for x in number if x % 2 == 1]
print(square)

In [ ]:
number = []
a=number.append(1)
print(number)
print(a)

In [3]:
strings = ["8.9", "6.0", "8.1", "7.5"]
floats = [float(num) for num in strings]

In [4]:
print(floats)

[8.9, 6.0, 8.1, 7.5]

In [5]:
text = ['fully', 'happy', 'rainy']
word_y = [word for word in text if word.endswith('y')]
print(word_y)

['fully', 'happy', 'rainy']

In [8]:
text = ['fully', 'happy', 'rainy']
word_y = [word if word.endswith('y') else '' for word in text]
print(word_y)

['fully', 'happy', 'rainy']

In [7]:
numbers = [1, 2, 3, -1, -2, -3]
positive = [num if num >=0 else 0 for num in numbers]
print(positive)

[1, 2, 3, 0, 0, 0]

In [10]:
words = ["apple", "it", "creek", "pelican", "subsequent", "horse", "apothecary"]
lengths =[]
for word in words:
    count = 0
    for i in word:
        count +=1
    lengths.append(count)
print(lengths)

[5, 2, 5, 7, 10, 5, 10]

In [11]:
words = ["apple", "it", "creek", "pelican", "subsequent", "horse", "apothecary"]
lengths = [len(word) for word in words]
print(lengths)

[5, 2, 5, 7, 10, 5, 10]

In [27]:
my_numbers = [int(x) for x in input().split(" ")]

1 2 3

In [28]:
print(my_numbers)

[1, 2, 3]

In [31]:
my_numbers = [int(x) for x in input()]

123

In [32]:
my_words = [x for x in input()]

animals

In [33]:
print(my_words)

['a', 'n', 'i', 'm', 'a', 'l', 's']

In [1]:
nested_letters = ['a', 'b', 'c', ['d', 'e']]
print(nested_letters[3])

['d', 'e']

In [2]:
print(nested_letters[3][0])

d

In [3]:
matrix = [[1,2,3],[4,5,6],[7,8,9]]
print(matrix)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [4]:
print(matrix[1][2])

6

In [5]:
school = [["Mary", "Jack", "Tiffany"], 
          ["Brad", "Claire"],
          ["Molly", "Andy", "Carla"]]

In [6]:
students_list =[]
for class_ in school:
    for student in class_:
        students_list.append(student)
print(students_list)

['Mary', 'Jack', 'Tiffany', 'Brad', 'Claire', 'Molly', 'Andy', 'Carla']

In [7]:
students_list = [student for class_ in school for student in class_]
print(students_list)

['Mary', 'Jack', 'Tiffany', 'Brad', 'Claire', 'Molly', 'Andy', 'Carla']

In [12]:
matrix = [[j for j in range(5)] for i in range(2)]
print(matrix)

[[0, 1, 2, 3, 4], [0, 1, 2, 3, 4]]

In [15]:
matrix = []
for i in range(2):
    matrix.append([])
    for j in range(5):
        matrix[i].append(j)
print(matrix)

[[0, 1, 2, 3, 4], [0, 1, 2, 3, 4]]

In [17]:
n = int(input())

my_list =  [[j + 1 for j in range(2)] for i in range(n)]
print(my_list)

2
[[1, 2], [1, 2]]

In [30]:
students = [["Jane", "B"], ["Kate", "B"], ["Alex", "C"], ["Elsa", "A"], ["Max", "B"], ["Chris", "A"]]
best_students = [student[0] for student in students if student[1] == 'A']

In [31]:
print(best_students)

['Elsa', 'Chris']

In [32]:
str_1 = input()
str_2 = input()
str_3 = input()
nested_list = [str_1, [str_2], [[str_3]]]

dog
cat
dragon

In [33]:
print(nested_list)

['dog', ['cat'], [['dragon']]]

In [34]:
number = list(input())

123

In [49]:
number = list(input())
average_number = [(int(number[i]) + int(number[i+1]))/2 for i in range(len(number)-1)]

12345

In [50]:
print(average_number)

[1.5, 2.5, 3.5, 4.5]

In [51]:
grid = input()
print('---------')
print('|',grid[0],grid[1],grid[2],'|')
print('|',grid[3],grid[4],grid[5],'|')
print('|',grid[6],grid[7],grid[8],'|')
print('---------')
count_x = 0
count_i = 0
count_ = 0
for i in range(9):
    if grid[i] =='X':
        count_x += 1
    elif grid[i] == 'O':
        count_i += 1
if abs(count_x - count_i) >1:
    print('Impossible')
else:
    if 'O' == grid[0] == grid[1] == grid[2] or 'O' == grid[3] == grid[4] == grid[5] or 'O' == grid[6] == grid[7] == grid[8] or 'O' == grid[0] == grid[3] == grid[6] or 'O' == grid[1] == grid[4] == grid[7] or 'O' == grid[2] == grid[5] == grid[8] or 'O' == grid[0] == grid[4] == grid[8] or 'O' == grid[2] == grid[4] == grid[6]:
        o_win = 'O wins'
    else:
        o_win = ''
    if 'X'== grid[0] == grid[1] == grid[2] or 'X'== grid[3] == grid[4] == grid[5] or 'X'== grid[6] == grid[7] == grid[8] or 'X'== grid[0] == grid[3] == grid[6] or 'X'== grid[1] == grid[4] == grid[7] or 'X'== grid[2] == grid[5] == grid[8] or 'X'== grid[0] == grid[4] == grid[8] or 'X'== grid[2] == grid[4] == grid[6]:
        x_win = 'X wins'
    else:
        x_win = ''
    if x_win != '' and o_win != '':
        print('Impossible')
    else:
        if x_win =='X wins':
            print('X wins')
        elif o_win == 'O wins':
            print('O wins')
        else:
            for i in range(9):
                if grid[i] == '_':
                   count_ += 1
            if count_ >=1:
                print('Game not finished')
            else:
                print('Draw')

_OOOO_X_X
---------
| _ O O |
| O O _ |
| X _ X |
---------
Impossible

In [52]:
print('''This
is
a
multi-line
string''')

This
is
a
multi-line
string

In [53]:
print("""
"How The Grinch Stole Christmas"
Did that stop the old Grinch?
No! The Grinch simply said,
"If I can't find a reindeer,
I'll make one instead!"
""")

"How The Grinch Stole Christmas"
Did that stop the old Grinch?
No! The Grinch simply said,
"If I can't find a reindeer,
I'll make one instead!"

In [54]:
print("""
\"""
THIS IS A STRING
\"""
""")

"""
THIS IS A STRING
"""

In [57]:
warning = 'That\'s my car'
print(warning)

That's my car

In [58]:
print('a big\b dog')

a big dog

In [60]:
print('Huajuan YUAN \rEva    ')

Eva

In [61]:
print('\\')

\

In [68]:
stationery='I need a pen \\ pencil'
print(repr(stationery))

'I need a pen \\ pencil'

In [67]:
print(stationery)

I need a pen \ pencil

In [63]:
print('\\n')

\n

In [64]:
face = '\^_^/'
print(face)

\^_^/

In [65]:
print(repr(face))

'\\^_^/'

In [69]:
print(len(face))
print(len(repr(face)))

5
8

In [70]:
print('Hello\tWorld!')

Hello	World!

In [73]:
greeting = 'hello, World!'
nice_greeting = 'hello, \nWorld!'
print(greeting)
print(nice_greeting)
print(len(greeting))
print(len(nice_greeting))

hello, World!
hello,
World!
13
14

In [75]:
path = 'C:\\Users\Public\Desktop\\Temporary\\Newsletters'.lower()

In [76]:
print(path)

c:\users\public\desktop\temporary\newsletters

In [77]:
print('\\\\')

\\

In [79]:
value = '\n'
print(len(repr(value)))

4

In [80]:
print(repr(value))

'\n'

In [82]:
mine = 'That is \n mine'
print(len(repr(mine)))

17

In [83]:
print("This is a number:", 125)

This is a number: 125

In [102]:
number = 2.55
print(int(number))

2

In [103]:
print(int(10.0))

10

In [104]:
print(float('10.0'))

10.0

In [105]:
print(type(number))

<class 'float'>

In [107]:
number_int = int(number)
sum_number = sum((number, number_int))
print(round(sum_number))
print(sum_number)

5
4.55

In [100]:
print(sum((1,2,3)))

6

In [111]:
max_number = max(1,5,4.1)
print(type(max_number))

<class 'int'>

In [112]:
help(sum)

Help on built-in function sum in module builtins:

sum(iterable, /, start=0)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

In [119]:
sum((1,2,3,4),1)

11

In [121]:
print(len('12'))

2

In [125]:
min('tom', 'sam', 'john')

'john'

In [1]:
def multify(x,y):
    return(x*y)

In [2]:
multify(2,4)

8

In [3]:
def welcome():
    return('hello!')

In [4]:
welcome()

'hello!'

In [7]:
def send_postcard(address, message):
    print('send a postcard to', address)
    print('with a message:', message)

In [9]:
send_postcard('Renens', 'have a nice day')

send a postcard to Renens
with a message: have a nice day

In [15]:
#   If your function doesn't return anything, assigning its result to a variable or printing it will give you None.
print(send_postcard('Renens', 'have a nice day'))

send a postcard to Renens
with a message: have a nice day
None

In [13]:
def celsius_to_fahrenheit(temps_c):
    temps_f = temps_c * 9 / 5 + 32
    return round(temps_f, 2)
#   we've stored the value returned by our function in the variable water_bp
water_bp = celsius_to_fahrenheit(100)
print(water_bp)

212.0

In [14]:
print_value = print(2 * 2)
print(print_value) #  functions do not necessarily have return values, such as print.

4
None

In [16]:
import math

In [17]:
math.factorial(3)

6

In [27]:
import math
def factorial(x):
    print("Don't cheat!")
math.factorial=factorial

In [28]:
math.factorial(3)

Don't cheat!

In [29]:
def captain_name(name):
    print('Captain', name)

In [31]:
captain_name('Xiaojuan')

Captain Xiaojuan

In [32]:
captain_name(input())

Xiaojuan
Captain Xiaojuan

In [33]:
phrase = 'I am hungry'
def global_phrase():
    print(phrase)

In [34]:
print(phrase)
global_phrase()

I am hungry
I am hungry

In [36]:
def local_phrase():
    phrase_local = 'I am not hungry'
    print(phrase_local)

In [37]:
print(phrase_local)

NameError: name 'phrase_local' is not defined

In [38]:
local_phrase()

I am not hungry

In [39]:
x = "global"
def outer():
    x = "outer local"
    def inner():
        x = "inner local"
        def func():
            x = "func local"
            print(x)
        func()
    inner()

outer()

func local

In [40]:
x = "global"
def outer():
    x = "outer local"
    def inner():
        x = "inner local"
        def func():
            print(x)
        func()
    inner()

outer()

inner local

In [41]:
x = "global"
def outer():
    def inner():
        def func():
            print(x)
        func()
    inner()

outer()

global

In [43]:
x = 1
def global_number():
    print(x)
global_number()

1

In [53]:
def local_number():
    global x
    print(x)
    x = x + 1

In [54]:
local_number()
local_number()
local_number()

5
6
7

In [55]:
def outer():
    x = 1
    def inner():
        x = 2
        print('inner:', x)
    inner()
    print('outer:', x)
outer()

inner: 2
outer: 1

In [57]:
def outer():
    x = 1
    def inner():
        nonlocal x
        x = 2
        print('inner:', x)
    inner()
    print('outer:', x)
outer()

inner: 2
outer: 2

In [60]:
name = "John"

def change_name(new_name):
    global name
    name = new_name
change_name("Mary")
print(name)

Mary

In [2]:
message = 'The moon is beautiful tonight!'
print(message.upper())

THE MOON IS BEAUTIFUL TONIGHT!

In [4]:
print(message.lower())

the moon is beautiful tonight!

In [5]:
print(message.title())

The Moon Is Beautiful Tonight!

In [6]:
print(message.swapcase())

tHE MOON IS BEAUTIFUL TONIGHT!

In [7]:
print(message.capitalize())

The moon is beautiful tonight!

In [12]:
print(message.replace("moon", "star"))

The star is beautiful tonight!

In [15]:
print(message.replace('o', 'a', 2))

The maan is beautiful tonight!

In [17]:
whitespace_string = '     hello       '
normal_string = 'sustainability'
leftstrip = whitespace_string.lstrip()
print(repr(leftstrip))

'hello       '

In [19]:
rightstrip = whitespace_string.rstrip()
print(repr(rightstrip))

'     hello'

In [22]:
leftstrip_sy = normal_string.lstrip('sy')
print(repr(leftstrip_sy))

'ustainability'

In [23]:
rightstrip_sy = normal_string.rstrip('sy')
print(repr(rightstrip_sy))

'sustainabilit'

In [24]:
strip_sy = normal_string.strip('sy')
print(repr(strip_sy))

'ustainabilit'

In [27]:
new_word = 'sunninuns'
strip_unns = new_word.strip('unns')
print(repr(strip_unns))

'i'

In [28]:
word = "Mississippi"
print(word.rstrip("ips"))

M

In [29]:
print(word.lstrip("ips"))

Mississippi

In [30]:
print(word.strip("Mips"))

In [33]:
print(message.replace('t', 'p')) #  Case sensitive

The moon is beaupiful ponighp!

In [34]:
film_name = input()
print(film_name.upper())

lion
LION

In [35]:
definition = input()

Coin of the realm is the legal money of the country

In [36]:
def_list = definition.split()

In [37]:
print(def_list)

['Coin', 'of', 'the', 'realm', 'is', 'the', 'legal', 'money', 'of', 'the', 'country']

In [38]:
def_list_money = definition.split("money")
print(def_list_money)

['Coin of the realm is the legal ', ' of the country']

In [39]:
def_list_of = definition.split('of', 1)
print(def_list_of)

['Coin ', ' the realm is the legal money of the country']

In [40]:
def_list_of2 = definition.split('of', 2)
print(def_list_of2)

['Coin ', ' the realm is the legal money ', ' the country']

In [43]:
def_list_wrong = definition.split("hello")
print(def_list_wrong)

['Coin of the realm is the legal money of the country']

In [44]:
name, surname = input().split()

Huajuan Yuan

In [45]:
print(name)
print(surname)

Huajuan
Yuan

In [46]:
my_name = 'Huajuan YUAN'
name, surname = my_name.split()

In [47]:
print(name,surname)

Huajuan YUAN

In [54]:
new_list = ['I', 'like', 'singing', 'and', 'dancing!']
new_var = ' '.join(new_list)

In [55]:
print(new_var)

I like singing and dancing!

In [56]:
print(new_var.lstrip(' '))

I like singing and dancing!

In [57]:
long_text = 'first line\nsecond line\rthird line\r\nfourth line'
print(long_text)

first line
third line
fourth line

In [59]:
print(long_text.splitlines())

['first line', 'second line', 'third line', 'fourth line']

In [62]:
print(long_text.split('\n'))

['first line', 'second line\rthird line\r', 'fourth line']

In [64]:
print(long_text.splitlines(keepends = True))

['first line\n', 'second line\r', 'third line\r\n', 'fourth line']

In [66]:
random_numbers = ['1', '22', '333', '4444', '55555']
print("\n".join(random_numbers))

1
22
333
4444
55555

In [68]:
capword = input()
print(capword.replace("_", " ").title().replace(' ', ''))

my_class
MyClass

In [91]:
number_sequence = input().split(' ')
number = input()
output_list = []
for i in range(len(number_sequence)):
    if number_sequence[i] == number:
        output_list.append(str(i))
if output_list:
    print(" ".join(output_list))
else:
    print('not found')

-2 -8 -1 -4 6 1 6 -6 5 -7 5
5
8 10

In [79]:
print(type(output_list[0]))

<class 'int'>

In [89]:
number = input()

-2 -3 4

In [90]:
print(repr(number))

'-2 -3 4'

In [103]:
word_list = input().split(' ')
print(word_list[0][-1])
print(len(word_list))

First ladies rule the State and state the rule: ladies first
t
11

In [112]:
word_list = input().split(' ')
s_list = []
for i in range(len(word_list)):
    if word_list[i][-1] == 's':
        s_list.append(word_list[i])
s_str ="_".join(s_list)
print(s_str)

First ladies rule the State and state the rule: ladies first  a

IndexError: string index out of range

In [113]:
word_list = input().split(' ')

a b c  d

In [114]:
print(word_list)

['a', 'b', 'c', '', 'd']

In [115]:
word_list = input().split(' ')
s_list = []
for i in range(len(word_list)):
    if word_list[i].endswith("s"):
        s_list.append(word_list[i])
s_str = "_".join(s_list)
print(s_str)

First ladies rule the State and state the rule: ladies first
ladies_ladies

In [119]:
text = input()
text = text.replace("o", " ")
print(text)
text = text.split()
print(text)
text = " o".join(text)
print(text)

no melon no lemon
n  mel n n  lem n
['n', 'mel', 'n', 'n', 'lem', 'n']
n omel on on olem on

In [120]:
text = input()
text = text.replace("o", " ")
print(text)
text = text.split(' ')
print(text)
text = " o".join(text)
print(text)

no melon no lemon
n  mel n n  lem n
['n', '', 'mel', 'n', 'n', '', 'lem', 'n']
n o omel on on o olem on

In [117]:
print(text)

n omel on on olem on

In [118]:
new_list=['a', 'b', ' ', 'd']
join_str=" o".join(new_list)
print(join_str)

a ob o  od

In [1]:
grid = input()
print('---------')
print('|',grid[0],grid[1],grid[2],'|')
print('|',grid[3],grid[4],grid[5],'|')
print('|',grid[6],grid[7],grid[8],'|')
print('---------')
coordinates = input().split()
if type(coordinates[0]) ==type(coordinates[1]) == 'int':
    if coordinate
else:
    print('You should enter numbers!')
count_x = 0
count_i = 0
count_ = 0
for i in range(9):
    if grid[i] =='X':
        count_x += 1
    elif grid[i] == 'O':
        count_i += 1
if abs(count_x - count_i) >1:
    print('Impossible')
else:
    if 'O' == grid[0] == grid[1] == grid[2] or 'O' == grid[3] == grid[4] == grid[5] or 'O' == grid[6] == grid[7] == grid[8] or 'O' == grid[0] == grid[3] == grid[6] or 'O' == grid[1] == grid[4] == grid[7] or 'O' == grid[2] == grid[5] == grid[8] or 'O' == grid[0] == grid[4] == grid[8] or 'O' == grid[2] == grid[4] == grid[6]:
        o_win = 'O wins'
    else:
        o_win = ''
    if 'X'== grid[0] == grid[1] == grid[2] or 'X'== grid[3] == grid[4] == grid[5] or 'X'== grid[6] == grid[7] == grid[8] or 'X'== grid[0] == grid[3] == grid[6] or 'X'== grid[1] == grid[4] == grid[7] or 'X'== grid[2] == grid[5] == grid[8] or 'X'== grid[0] == grid[4] == grid[8] or 'X'== grid[2] == grid[4] == grid[6]:
        x_win = 'X wins'
    else:
        x_win = ''
    if x_win != '' and o_win != '':
        print('Impossible')
    else:
        if x_win =='X wins':
            print('X wins')
        elif o_win == 'O wins':
            print('O wins')
        else:
            for i in range(9):
                if grid[i] == '_':
                   count_ += 1
            if count_ >=1:
                print('Game not finished')
            else:
                print('Draw')

_XXOO_OX_
---------
| _ X X |
| O O _ |
| O X _ |
---------
Game not finished

In [12]:
coordinates = input().split(' ')

one

In [13]:
print(coordinates)

['one']

In [14]:
print(type(coordinates[0]))

<class 'str'>

In [10]:
grid = input()
print('---------')
print('|',grid[0],grid[1],grid[2],'|')
print('|',grid[3],grid[4],grid[5],'|')
print('|',grid[6],grid[7],grid[8],'|')
print('---------')
coordinates_list = [[grid[0], grid[1], grid[2]], [grid[3], grid[4], grid[5]], [grid[6], grid[7], grid[8]]]

_XXOO_OX_
---------
| _ X X |
| O O _ |
| O X _ |
---------

In [1]:
grid = input()
print('---------')
print('|',grid[0],grid[1],grid[2],'|')
print('|',grid[3],grid[4],grid[5],'|')
print('|',grid[6],grid[7],grid[8],'|')
print('---------')
coordinates_list = [[grid[0], grid[1], grid[2]], [grid[3], grid[4], grid[5]], [grid[6], grid[7], grid[8]]]
while True:
    try:
        coordinates = input().split()
        x = int(coordinates[0])
        y = int(coordinates[1])
    except:
        print('You should enter numbers!')
    else:
        if 1 <= x <=3 and 1 <= y <=3:
            if coordinates_list[x-1][y-1]=='_':
                coordinates_list[x-1][y-1] = 'X'
                print('---------')
                print('|',coordinates_list[0][0],coordinates_list[0][1],coordinates_list[0][2],'|')
                print('|',coordinates_list[1][0],coordinates_list[1][1],coordinates_list[1][2],'|')
                print('|',coordinates_list[2][0],coordinates_list[2][1],coordinates_list[2][2],'|')
                print('---------')
                break
            else:
                print('This cell is occupied! Choose another one!')
        else:
            print('Coordinates should be from 1 to 3!')

_XXOO_OX_
---------
| _ X X |
| O O _ |
| O X _ |
---------
4 1
Coordinates should be from 1 to 3!
1 4
Coordinates should be from 1 to 3!
1 1
---------
| X X X |
| O O _ |
| O X _ |
---------

In [3]:
max_number = int(input())
i = 2
while i < max_number:
    print(i)
    i +=2

8
2
4
6

In [6]:
pets = ['dog', 'cat', 'rabbit']
for pet in pets:
    print(pet)
    if pet == 'cat':
        break

dog
cat

In [7]:
pets = ['dog', 'cat', 'rabbit']
for pet in pets:
    if pet == 'cat':
        break
    print(pet)

dog

In [8]:
count = 0
while True:
    print("I am Infinite Loop")
    count += 1
    if count == 13:
        break

I am Infinite Loop
I am Infinite Loop
I am Infinite Loop
I am Infinite Loop
I am Infinite Loop
I am Infinite Loop
I am Infinite Loop
I am Infinite Loop
I am Infinite Loop
I am Infinite Loop
I am Infinite Loop
I am Infinite Loop
I am Infinite Loop

In [10]:
pets = ['dog', 'cat', 'rabbit']
for pet in pets:
    if pet == 'cat':
        continue
    print(pet)

dog
rabbit

In [11]:
pets = ['dog', 'cat', 'parrot']
for pet in pets:
    if pet == 'dog':
        continue
    print(pet)

cat
parrot

In [12]:
pets = ['dog', 'cat', 'parrot']
for pet in pets:
    print(pet)
else:
    print('We need a turtle!')

dog
cat
parrot
We need a turtle!

In [13]:
pancakes = 2
while pancakes > 0:
    print("I'm the happiest human being in the world!")
    pancakes -= 1
    if pancakes == 0:
        print("Now I have no pancakes!")
        break
else:
    print("No pancakes...")

I'm the happiest human being in the world!
I'm the happiest human being in the world!
Now I have no pancakes!

In [14]:
pancakes = 0
while pancakes > 0:
    print("I'm the happiest human being in the world!")
    pancakes -= 1
    if pancakes == 0:
        print("Now I have no pancakes!")
        break
else:
    print("No pancakes...")

No pancakes...

In [16]:
pancakes = 3
while pancakes > 0:
    print("I'm the happiest human being in the world!")
    pancakes -= 1
    if pancakes > 5:
        print("Now I have no pancakes!")
        break
else:
    print("No pancakes...")

I'm the happiest human being in the world!
I'm the happiest human being in the world!
I'm the happiest human being in the world!
No pancakes...

In [15]:
pets = ['dog', 'cat', 'rabbit']
for pet in pets:
    print(pet)
    if pet == 'cat':
        break
else:
    print('I have a cat!')

dog
cat

In [37]:
number = int(input())
if number != 1:
    for i in range(1, number+1):
        if number % i == 0:
            if i in (1, number):
                continue
            print('This number is not prime')
            break
    else:
        print('This number is prime')
else:
    print('This number is not prime')

1
This number is not prime

In [25]:
list_range= range(1,5)

In [26]:
print(list_range)

range(1, 5)

In [31]:
for i in range(2,3):
    print(i)

2

In [39]:
while True:
    number = int(input())
    if number < 10:
        continue
    elif number > 100:
        break
    else:
        print(number)

2
3
4
5
5
132

In [40]:
print(round('seven.two'))

TypeError: type str doesn't define __round__ method

In [41]:
hope = "I hope this is actually going to work"
doubt = 'Do I need to double check all lines?'
suggestion = "What if I write it in 'double quotes'?"

In [42]:
print(hope,doubt,suggestion)

I hope this is actually going to work Do I need to double check all lines? What if I write it in 'double quotes'?

In [43]:
number = [1, 3]
number_new = number.append(5)
print(number, number_new)

[1, 3, 5] None

In [51]:
text = ['amial', 'is', 'a', 'girl']
word_l = [word for word in text if word.endswith('l')]
print(word_l)

['amial', 'girl']

In [52]:
print(all(list()))

True

In [53]:
print(bool(list()))

False

In [54]:
print(any(list()))

False

In [59]:
print(all([0, -0, 0.0]))

False

In [58]:
print(any([0, -0, 0.0]))

False

In [60]:
text = ['amial', 'is', 'a', 'girl']
word_l = [word == 'amial'  for word in text if word.endswith('l')]
print(word_l)

[True, False]

In [62]:
scores = [1, 2, 3, 4]
boolean_scores = [score >= 3 for score in scores]  
print(boolean_scores)
print(any(boolean_scores))  
print(all(boolean_scores))

[False, False, True, True]
True
False

In [69]:
null_list = [0, 0.0, -0, [0, 0.0], None]

In [70]:
print(all(null_list))

False

In [71]:
print(any(null_list))

True

In [72]:
new_list = [bool(number) for number in null_list]

In [73]:
print(new_list)

[False, False, False, True, False]

In [75]:
box = [10, 20, 32]

if any([candy % 2 for candy in box]):
    print("It is not a proper gift.")
else:
    print("Perfect!")

Perfect!

In [83]:
prime_numbers = [number for number in range(2, 1001) if all(number % i for i in range(2, number))]

In [84]:
print(prime_numbers)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997]

In [85]:
check = all([True, True, 1, 1, True])

In [86]:
print(check)

True

In [87]:
print(type(check))

<class 'bool'>

In [89]:
check = all([True, True, 1, 1, True])

if check == True:
    status = 'winner'
else:
    status = 'loser'

if status == 'winner':
    winning_sum = 100
else:
    winning_sum = 10

In [91]:
grid = ['_', '_','_','_','_','_','_','_','_',]
print('---------')
print('|',grid[0],grid[1],grid[2],'|')
print('|',grid[3],grid[4],grid[5],'|')
print('|',grid[6],grid[7],grid[8],'|')
print('---------')

---------
| _ _ _ |
| _ _ _ |
| _ _ _ |
---------

In [92]:
coordinates_list = [[grid[0], grid[1], grid[2]], [grid[3], grid[4], grid[5]], [grid[6], grid[7], grid[8]]]

In [93]:
print(coordinates_list)

[['_', '_', '_'], ['_', '_', '_'], ['_', '_', '_']]

In [1]:
grid = ['_', '_','_','_','_','_','_','_','_',]
print('---------')
print('|',grid[0],grid[1],grid[2],'|')
print('|',grid[3],grid[4],grid[5],'|')
print('|',grid[6],grid[7],grid[8],'|')
print('---------')
players = ['X','O','X','O','X','O','X','O','X']
for player in players:
    while True:
        try:
            coordinates = input().split()
            x = int(coordinates[0])
            y = int(coordinates[1])
        except:
            print('You should enter numbers!')
        else:
            if 1 <= x <=3 and 1 <= y <=3:
                if grid[y-1 + 3 * (x-1)]=='_':
                    count_x = 0
                    count_i = 0
                    count_ = 0
                    for i in range(9):
                        if grid[i] =='X':
                            count_x += 1
                        elif grid[i] == 'O':
                            count_i += 1
                    if abs(count_x - count_i) >1:
                        print('Impossible')
                    else:
                        grid[y-1 + 3 * (x-1)] = player
                        print('---------')
                        print('|',grid[0],grid[1],grid[2],'|')
                        print('|',grid[3],grid[4],grid[5],'|')
                        print('|',grid[6],grid[7],grid[8],'|')
                        print('---------')
                        if 'O' == grid[0] == grid[1] == grid[2] or 'O' == grid[3] == grid[4] == grid[5] or 'O' == grid[6] == grid[7] == grid[8] or 'O' == grid[0] == grid[3] == grid[6] or 'O' == grid[1] == grid[4] == grid[7] or 'O' == grid[2] == grid[5] == grid[8] or 'O' == grid[0] == grid[4] == grid[8] or 'O' == grid[2] == grid[4] == grid[6]:
                            o_win = 'O wins'
                            print('O wins')
                            break
                        elif 'X'== grid[0] == grid[1] == grid[2] or 'X'== grid[3] == grid[4] == grid[5] or 'X'== grid[6] == grid[7] == grid[8] or 'X'== grid[0] == grid[3] == grid[6] or 'X'== grid[1] == grid[4] == grid[7] or 'X'== grid[2] == grid[5] == grid[8] or 'X'== grid[0] == grid[4] == grid[8] or 'X'== grid[2] == grid[4] == grid[6]:
                            x_win = 'X wins'
                            print('X wins')
                            break
                        else:
                            for i in range(9):
                                if grid[i] == '_':
                                    count_ += 1
                            if count_ >=1:
                                break
                            else:
                                print('Draw')
                                break
                else:
                    print('This cell is occupied! Choose another one!')
            else:
                print('Coordinates should be from 1 to 3!')

---------
| _ _ _ |
| _ _ _ |
| _ _ _ |
---------
2 2
---------
| _ _ _ |
| _ X _ |
| _ _ _ |
---------
1 1
---------
| O _ _ |
| _ X _ |
| _ _ _ |
---------
1 1
This cell is occupied! Choose another one!
1 1
This cell is occupied! Choose another one!
1 2
---------
| O X _ |
| _ X _ |
| _ _ _ |
---------
1 4
Coordinates should be from 1 to 3!
1 3
---------
| O X O |
| _ X _ |
| _ _ _ |
---------
3 2
---------
| O X O |
| _ X _ |
| _ X _ |
---------
X wins
2 1
---------
| O X O |
| O X _ |
| _ X _ |
---------
X wins
2 3
---------
| O X O |
| O X X |
| _ X _ |
---------
X wins
3 1
---------
| O X O |
| O X X |
| O X _ |
---------
O wins
3 3
---------
| O X O |
| O X X |
| O X X |
---------
O wins

In [1]:
players = ['X','O','X', 'O','X', 'O','X', 'O','X']
for player in players:
    print(player)

X
O
X
O
X
O
X
O
X

In [1]:
print('H A N G M A N')
print('The game will be available soon.')
word = input()
if word  == 'python':
    print('You survived!')
else:
    print('You lost!')

H A N G M A N
The game will be available soon.
python
You survived!

In [6]:
def greet(name, surname):
    print('hello', name, surname)

In [7]:
greet('Huajuan', 'YUAN')

hello Huajuan YUAN

In [8]:
greet(name='Huajuan', surname='YUAN') #  By PEP 8 convention, you should not put spaces around = when indicating a keyword argument.

hello Huajuan YUAN

In [11]:
def equation_writing(a, b, c):
    print(a,'x +',b,'=',c)

In [12]:
equation_writing(3,4,3)

3 x + 4 = 3

In [1]:
claim = 'Pluto is a planet!'

In [5]:
claim.startswith('Pluto')

True

In [8]:
words = claim.split()
print(words)

['Pluto', 'is', 'a', 'planet!']

In [9]:
datestr = '1956-01-31'
year, month, day = datestr.split('-')

In [10]:
print(year, month, day)

1956 01 31

In [13]:
planet = 'Pluto'
pluto_mass = 1.303 * 10**22
earth_mass = 5.9722 * 10**24
population = 52910390
#         2 decimal points   3 decimal points, format as percent     separate with commas
print("{} weighs about {:.2} kilograms ({:.3%} of Earth's mass). It is home to {:,} Plutonians.".format(planet, pluto_mass, pluto_mass / earth_mass, population,
))

Pluto weighs about 1.3e+22 kilograms (0.218% of Earth's mass). It is home to 52,910,390 Plutonians.

In [14]:
s = """Pluto's a {0}.
No, it's a {1}.
{0}!
{1}!""".format('planet', 'dwarf planet')
print(s)

Pluto's a planet.
No, it's a dwarf planet.
planet!
dwarf planet!

In [15]:
numbers = {"one":1, 'two':2, 'three':3}

In [17]:
numbers['one']

1

In [18]:
numbers['four'] = 4
numbers

{'one': 1, 'two': 2, 'three': 3, 'four': 4}

In [19]:
numbers['one'] = 'first'
numbers

{'one': 'first', 'two': 2, 'three': 3, 'four': 4}

In [22]:
fruits = ['apple', 'banana', 'pear', 'grape']
fruit_dictionary = {fruit: fruit[0].upper() for fruit in fruits}

In [23]:
print(fruit_dictionary)

{'apple': 'A', 'banana': 'B', 'pear': 'P', 'grape': 'G'}

In [24]:
'watermelon' in fruit_dictionary

False

In [25]:
for f in fruit_dictionary:
    print('{} = {}'.format(f, fruit_dictionary[f]))

apple = A
banana = B
pear = P
grape = G

In [27]:
value = fruit_dictionary.values()

In [28]:
print(value)

dict_values(['A', 'B', 'P', 'G'])

In [31]:
' '.join(sorted(value))

'A B G P'

In [32]:
sorted(fruits)

['apple', 'banana', 'grape', 'pear']

In [34]:
print(type(value))

<class 'dict_values'>

In [37]:
for fruit, alpha in fruit_dictionary.items():
    print('{} begins with "{}"'.format(fruit, alpha))

apple begins with "A"
banana begins with "B"
pear begins with "P"
grape begins with "G"

In [38]:
c = 'it\'s ok'
length = len(c)

In [39]:
print(length)

7

In [94]:
def word_search(doc_list, keyword):
    word_list=[]
    for i in range(len(doc_list)):
        count = 0
        for j in doc_list[i].lower().split():
            if keyword.lower() == j.rstrip('.,'):
                count += 1
        if count >0:
            word_list.append(i)
        
    return word_list

In [95]:
doc_list = ['The Learn Python Challenge Casino', 'They bought a car, and a horse', 'Casinoville?']

In [50]:
len(doc_list)

3

In [85]:
doc_list[1].lower().split()

['they', 'bought', 'a', 'car,', 'and', 'a', 'horse']

In [90]:
for i in doc_list[1].lower().split():
    print(repr(i.rstrip(',')))

'they'
'bought'
'a'
'car'
'and'
'a'
'horse'

In [96]:
'Casina' in doc_list[0]

False

In [97]:
word_search(doc_list, 'car')

[1]

In [65]:
'They bought a car, and a horse'.lower().split()

['they', 'bought', 'a', 'car,', 'and', 'a', 'horse']

In [66]:
"car,".strip(',')

'car'

In [102]:
def multi_word_search(doc_list, keyword):
    word_dictionary={}
    for k in keyword:
        word_list=[]
        for i in range(len(doc_list)):
            count = 0
            for j in doc_list[i].lower().split():
                if k.lower() == j.rstrip('.,'):
                    count += 1
            if count >0:
                word_list.append(i)
        word_dictionary[k]=word_list

    return word_dictionary

In [103]:
doc_list = ["The Learn Python Challenge Casino.", "They bought a car and a casino", "Casinoville"]

In [104]:
keywords = ['casino', 'they']

In [105]:
multi_word_search(doc_list, keywords)

{'casino': [0, 1], 'they': [1]}

In [1]:
import math

In [2]:
print('it\'s math. it has type {}'.format(type(math)))

it's math. it has type <class 'module'>

In [4]:
print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc']

In [6]:
print('pi to 4 siginificant digits {:.4}'.format(math.pi))

pi to 4 digits 3.142

In [7]:
math.log(32, 2)

5.0

In [8]:
help(math.log)

Help on built-in function log in module math:

log(...)
    log(x, [base=math.e])
    Return the logarithm of x to the given base.

    If the base not specified, returns the natural logarithm (base e) of x.

In [9]:
help(math)

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    comb(n, k, /)
        Number of ways to choose k items from n items without repetition and without order.

        Evaluates to n! / (k! * (n - k)!) when k <= n and evaluates
        to zero when k > n.

        Also called the binomial coefficient because it is equivalent
        to the coefficient of k-th term in polynomial expansion of the
        expression (1 + x)**n.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    dist(p, q, /)
        Return the Euclidean distance between two points p and q.

        The points should be specified as sequences (or iterables) of
        coordinates.  Both inputs must have the same dimension.

        Roughly equivalent to:
            sqrt(sum((px - qx) ** 2.0 for px, qx in zip(p, q)))

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(x, /)
        Find x!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(x, y, /)
        greatest common divisor of x and y

    hypot(...)
        hypot(*coordinates) -> value

        Multidimensional Euclidean distance from the origin to a point.

        Roughly equivalent to:
            sqrt(sum(x**2 for x in coordinates))

        For a two dimensional point (x, y), gives the hypotenuse
        using the Pythagorean theorem:  sqrt(x*x + y*y).

        For example, the hypotenuse of a 3/4/5 right triangle is:

            >>> hypot(3.0, 4.0)
            5.0

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    isqrt(n, /)
        Return the integer part of the square root of the input.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    perm(n, k=None, /)
        Number of ways to choose k items from n items without repetition and with order.

        Evaluates to n! / (n - k)! when k <= n and evaluates
        to zero when k > n.

        If k is not specified or is None, then k defaults to n
        and the function returns n!.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    pow(x, y, /)
        Return x**y (x to the power of y).

    prod(iterable, /, *, start=1)
        Calculate the product of all the elements in the input iterable.

        The default start value for the product is 1.

        When the iterable is empty, return the start value.  This function is
        intended specifically for use with numeric values and may reject
        non-numeric types.

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

In [10]:
#  a shorter alias
import math as ma

In [11]:
ma.pi

3.141592653589793

In [12]:
math.pi

3.141592653589793

In [13]:
import numpy as np
import pandas as pd

In [14]:
from math import *

In [15]:
pi

3.141592653589793

In [16]:
log(32,2)

5.0

In [2]:
import re
text = "OI for FY 2019 was 12.4 billion, up more than eight percent from OI in FY 2018."

In [6]:
x1 = re.search(r'OI', text)

In [7]:
print(x1)

<re.Match object; span=(0, 2), match='OI'>

In [8]:
x2 = re.findall(r'OI', text)

In [9]:
print(x2)

['OI', 'OI']

In [10]:
x3 = re.split(r',', text)

In [11]:
print(x3)

['OI for FY 2019 was 12.4 billion', ' up more than eight percent from OI in FY 2018.']

In [12]:
x4 = re.sub(r'OI', 'operating income', text)

In [16]:
print(f'The result of re.sub:\n{x4}\n')

The result of re.sub:
operating income for FY 2019 was 12.4 billion, up more than eight percent from operating income in FY 2018.

In [17]:
import numpy as np
import pandas as pd

In [59]:
esg_banking = pd.read_excel('ESG_Literature_Summary_to 95.xlsx', sheet_name='ESG_Banking')

In [60]:
esg_banking.head()

,Unnamed: 0,Authors,Title,Journal,Key Words,Comment,ESG Var,Accouting Var,Market Var,Sample,Summary
0,7,"Buallay, A.",Is sustainability reporting (ESG) associated w...,Management of Environmental Quality: An Intern...,ESG,NaN,"Bloomingberg index (combine ED, CGD, CSRD)",ROA ROE Financial leverage,Topin's Q,235 banks for ten years (2007-2016) to ends up...,A significant positive impact of ESG on the pe...
1,9,"Campbell, D., & Slack, R.",Environmental disclosure and environmental ris...,The British Accounting Review 43 (2011) 54-64,E (interview base),NaN,Analysts' opinions on the decision-usefulness ...,NaN,NaN,A semi structured interview technique was empl...,"Examines the decision-usefulness, to sell-side..."
2,10,"Carnevale, C., Mazzuca, M., & Venturini, S.",Corporate Social Reporting in European Banks: ...,Corporate Social Responsibility and Environmen...,S,NaN,"SR publication (Social report dummy), log (EPS...","log(EPS), log(BPS)",stock price recorded ten days after the quarte...,including all European‐listed banks in the Eur...,The analysis for the entire sample does not pr...
3,12,"Darus, F., Mad, S., & Yusoff, H.",The importance of ownership monitoring and fir...,Social and Behavioral Sciences 145 (2014) 173 ...,ESG,NaN,"CSRD (CSR disclosure, #word count)",Assets/Libilities,NaN,from relevant sections of the annual and susta...,To examine the determinants of CSR reporting f...
4,17,"Eichholtz, P., Holtermans, R., Kok, N., & Yönd...",Environmental performance and the cost of debt...,Journal of Banking and Finance 102 (2019) 19-32,E,NaN,Share of environmentally certified space in RE...,"Debt Ratio, Market-to-Book",ratio of encumbrance to the total book value o...,"Merging the SNL data with data from FactSet, w...",Loans on environmentally certified build- ings...

In [63]:
esg_banking['Key Words']=esg_banking['Key Words'].str.replace('E', 'Environment')

In [64]:
esg_banking.head()

,Unnamed: 0,Authors,Title,Journal,Key Words,Comment,ESG Var,Accouting Var,Market Var,Sample,Summary
0,7,"Buallay, A.",Is sustainability reporting (ESG) associated w...,Management of Environmental Quality: An Intern...,EnvironmentSG,NaN,"Bloomingberg index (combine ED, CGD, CSRD)",ROA ROE Financial leverage,Topin's Q,235 banks for ten years (2007-2016) to ends up...,A significant positive impact of ESG on the pe...
1,9,"Campbell, D., & Slack, R.",Environmental disclosure and environmental ris...,The British Accounting Review 43 (2011) 54-64,Environment (interview base),NaN,Analysts' opinions on the decision-usefulness ...,NaN,NaN,A semi structured interview technique was empl...,"Examines the decision-usefulness, to sell-side..."
2,10,"Carnevale, C., Mazzuca, M., & Venturini, S.",Corporate Social Reporting in European Banks: ...,Corporate Social Responsibility and Environmen...,S,NaN,"SR publication (Social report dummy), log (EPS...","log(EPS), log(BPS)",stock price recorded ten days after the quarte...,including all European‐listed banks in the Eur...,The analysis for the entire sample does not pr...
3,12,"Darus, F., Mad, S., & Yusoff, H.",The importance of ownership monitoring and fir...,Social and Behavioral Sciences 145 (2014) 173 ...,EnvironmentSG,NaN,"CSRD (CSR disclosure, #word count)",Assets/Libilities,NaN,from relevant sections of the annual and susta...,To examine the determinants of CSR reporting f...
4,17,"Eichholtz, P., Holtermans, R., Kok, N., & Yönd...",Environmental performance and the cost of debt...,Journal of Banking and Finance 102 (2019) 19-32,Environment,NaN,Share of environmentally certified space in RE...,"Debt Ratio, Market-to-Book",ratio of encumbrance to the total book value o...,"Merging the SNL data with data from FactSet, w...",Loans on environmentally certified build- ings...

In [70]:
table=pd.DataFrame({'ID':np.arange(1,6),
                   'name':['Amy','Tom','Sam','Yuan','Hua']})

In [71]:
table.head()

   ID  name
0   1   Amy
1   2   Tom
2   3   Sam
3   4  Yuan
4   5   Hua

In [72]:
sbool = pd.Series([True, True, True, False, False])
table_filter = table[sbool]
table_filter.head()

   ID name
0   1  Amy
1   2  Tom
2   3  Sam

In [75]:
table_filter2 = table[table['name'] == 'Tom']

In [76]:
print(f'Who is tom: \n{table_filter2}\n')

Who is tom:
   ID name
1   2  Tom

In [79]:
table_filter2['gender'] = 'Men'

<ipython-input-79-7ce8279168f0>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table_filter2['gender'] = 'Men'

In [78]:
print(f'Who is tom: \n{table_filter2}\n')

Who is tom:
   ID name gender
1   2  Tom    Men

In [83]:
table['gender'] = 'male'

In [84]:
table.rename(columns={'gender': 'male or female'})

   ID  name male or female
0   1   Amy           male
1   2   Tom           male
2   3   Sam           male
3   4  Yuan           male
4   5   Hua           male

In [1]:
import numpy